<section
		class="self-stretch bg-elements-neutral-4 flex flex-col
		items-center justify-center py-[140px]  box-border
		gap-[60px] max-w-full text-left text-sm text-general-white
		 font-button-space-grotesk mq925:gap-[15px] mq925:py-[59px]
		  mq925:box-border mq1400:gap-[30px] mq1400:py-[91px] mq925:px-[25px]"
>
	<div
			class="self-stretch flex flex-row items-start justify-center
			max-w-full text-center text-base text-general-1-primary"
	>
		<div
				class="flex flex-col items-start justify-start gap-[30px] max-w-full"
		>
			<div
					class="flex flex-row items-start justify-start py-0 pl-[316px] pr-[318px] mq450:pl-5 mq450:pr-5 mq450:box-border mq925:pl-[158px] mq925:pr-[159px] mq925:box-border"
			>
				<div class="relative tracking-[0.25em] leading-[22px] uppercase">
					Residential
				</div>
			</div>
			<h2
					class="m-0 relative text-29xl tracking-[-0.02em] leading-[54px] font-medium font-[inherit] text-general-1-secondary mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
			>
				Interior Design Services We Provide
			</h2>
		</div>
	</div>
	<div
			class="max-w-[1170px] flex flex-col items-start justify-start w-full gap-[60px]"
	>
		<div
				class="self-stretch flex flex-row items-start justify-center flex-wrap content-start gap-[30px] max-w-full"
		>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/modern-lakeside-living-room-with-mountain-view@2x.webp"
					/>

					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>
				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Versatile House Interior Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							We design house interiors for all types of homes in the UAE.
							From the entrance to every room, our designs reflect your
							style while ensuring functionality and comfort.
						</div>
					</div>


				</div>
			</div>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/elegant-modern-living-room-interior@2x.webp"
					/>

					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>
				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Apartment Interior Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							We offer interior design services tailored to apartments,
							creating stylish and efficient spaces that maximize every
							square foot while meeting your specific needs and preferences.
						</div>
					</div>


				</div>
			</div>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/fotolia-6014662-subscription-monthly-m-1@2x.webp"
					/>

					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>
				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class="m-0 relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
						>
							Modern and Arabic Villa Interior Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							Whether you prefer a modern or traditional Arabic style, our
							villa interior design services in Dubai combine elegance with
							functionality to create luxurious living spaces.
						</div>
					</div>


				</div>
			</div>
		</div>
		<div
				class="self-stretch flex flex-row items-start justify-center flex-wrap content-start gap-[30px] max-w-full mq925:grid-cols-[minmax(277px,_1fr)] mq1875:justify-center mq1875:grid-cols-[repeat(2,_minmax(277px,_481px))]"
		>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/photo-20240815-151555@2x.webp"
					/>

					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>
				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Master Bedroom Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							Our master bedroom designs focus on comfort and elegance,
							creating a space where you can relax and unwind. We consider
							every detail to ensure a cohesive and restful environment.
						</div>
					</div>

				</div>
			</div>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/modern-living-room-elegance@2x.webp"
					/>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>

				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Living Room Interior Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							Our living room designs in Dubai reflect modern trends and
							luxury. We create spaces that are both stylish
							and comfortable, perfect for relaxation and entertaining
							guests.
						</div>
					</div>


				</div>
			</div>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/modern-and-minimalist-bathroom-interior@2x.webp"
					/>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>

				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Luxury Bathroom Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							Our bathroom designs are all about luxury and comfort. We use
							high-quality materials and thoughtful layouts to create a
							space where you can enjoy a spa-like experience every day.
						</div>
					</div>


				</div>
			</div>
		</div>
		<div
				class="self-stretch flex flex-row items-start justify-center flex-wrap content-start gap-[30px] max-w-full mq925:grid-cols-[minmax(277px,_1fr)] mq1875:justify-center mq1875:grid-cols-[repeat(2,_minmax(277px,_481px))]"
		>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/modern-chic-wardrobe-with-industrial-flair@2x.webp"
					/>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>

				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Dressing Room Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							We design functional and stylish dressing rooms that offer
							ample storage and an organized layout. Our designs ensure that
							every item has its place while maintaining an elegant look.
						</div>
					</div>

				</div>
			</div>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/photo-25-20240815-120824@2x.webp"
					/>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>

				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Modern Dining Room Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							Our modern dining room designs create a perfect setting for
							meals and gatherings. We focus on creating spaces that are
							both functional and aesthetically pleasing, enhancing your
							dining experience.
						</div>
					</div>


				</div>
			</div>
			<div
					class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[277px] max-w-full stm-hover-box"
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover  stm-m-img"
							loading="lazy"
							alt=""
							src="images/luxurious-modern-living-space-with-garden-view@2x.webp"
					/>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>
				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Family Room Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							We design family rooms that are comfortable and practical,
							creating a space where everyone can relax and enjoy time
							together. Unlike other interior design firms, our designs
							prioritize both style and usability.
						</div>
					</div>

				</div>
			</div>
		</div>
		<div
				class="self-stretch flex flex-row items-start justify-center max-w-full"
		>
			<div
					class="w-[370px] overflow-hidden shrink-0 flex flex-col items-start justify-start gap-[30px] max-w-full  stm-hover-box "
			>
				<div
						class="self-stretch flex flex-row items-start justify-start max-w-full stm-img"
				>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-m-img"
							loading="lazy"
							alt=""
							src="images/modern-opulence--a-luxe-contemporary-lounge@2x.webp"
					/>
					<img
							class="h-60 flex-1 relative max-w-full overflow-hidden object-cover stm-h-img"
							alt=""
							src="images/glasses-girl.webp"
					/>
				</div>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start gap-[50px] max-w-full text-base text-general-1-secondary-variant mq450:gap-[25px]"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-5 max-w-full text-5xl"
					>
						<h3
								class=" m-0 self-stretch relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px] stm-title"
						>
							Arabic Majlis Design
						</h3>
						<div
								class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
						>
							Our Majlis designs cater to small spaces, combining
							traditional Arabic elements with modern comfort. We focus
							on creating an inviting area with a comfortable sofa, perfect
							for hosting guests.
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>