<section
		class="self-stretch flex flex-row items-start justify-center pt-[140px] pb-[140px]
		box-border max-w-full text-right text-base text-general-white
		 font-button-space-grotesk mq925:pb-[91px] mq925:box-border mq925:px-[25px]"
>
	<div
			class="w-[1170px] flex flex-row items-start justify-start gap-[60px] max-w-full mq1400:gap-[30px] mq1400:flex-wrap"
	>
		<div
				class="min-h-[414px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/modern-colorful-office-interior@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
		>

		</div>
		<div
				class="flex-1 flex flex-col items-start justify-start px-0 pb-0 box-border min-w-[361px] max-w-full text-left text-general-1-primary mq450:min-w-full mq1400:flex-1"
		>
			<div
					class="self-stretch flex flex-col items-start justify-start gap-[30px]"
			>
				<div
						class="self-stretch relative tracking-[0.25em] leading-[22px] uppercase"
				>
					Modern and Luxury
				</div>
				<h2
						class="m-0 relative text-29xl tracking-[-0.02em] leading-[54px] font-medium font-[inherit] text-general-1-secondary mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
				>
					Interior Design for Dubai Homes
				</h2>
				<div
						class="m-0 self-stretch relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] text-general-1-secondary-variant mq450:text-lgi mq450:leading-[24px]"
				>
					Fractal is a Dubai-based interior design company that transforms
					your home into a modern, luxury haven.
				</div>
				<div
						class="relative leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
				>
					We’re all about creating spaces that are as stunning as they
					are functional, with you at the heart of every decision. Our
					approach is simple: your home should be as practical as it is
					beautiful, and we’re here to make that happen.
				</div>
			</div>
		</div>
	</div>
</section>
