<section
		class="self-stretch bg-general-white overflow-hidden flex flex-row
			items-start justify-center gap-20 max-w-full text-left text-base
			text-general-1-primary font-button-space-grotesk w-full mq925:flex-col mq925:mb-[50px]"
>

	<div class="absolute h-full max-h-full w-full transform translate-x-[50%] left-[-995px] mq925:relative mq925:left-0 mq925:transform-unset">
		<img
				class="h-[774px] relative max-h-full max-w-full flex-1 mq925:stm-img-cover "
				alt=""
				src="images/indoor-luxury-meets-natural-charm.webp"
		/>
	</div>

	<div
			class="max-w-[1170px] flex flex-col items-start justify-start pt-[197px]
			px-0 pb-0 box-border w-full mq925:pt-32 mq925:box-border
			mq925:min-w-full mq1875:flex-1 pl-[280px] min-h-[774px] mq925:px-[25px] mq925:pt-[50px] mq925:min-h-[500px] mq925:px-[25px]"
	>
		<div
				class="self-stretch flex flex-col items-start justify-start gap-[30px]"
		>

			<h2
					class="m-0 self-stretch relative text-29xl tracking-[-0.02em] leading-[54px] font-medium font-[inherit] text-general-1-secondary mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
			>
				Have an Interior Design Project in Mind?
			</h2>
			<div
					class="m-0 relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] text-general-1-secondary-variant mq450:text-lgi mq450:leading-[24px]"
			>
				At Fractal Design Studio, we’re here to turn your interior design
				ideas into reality. Whether you're envisioning a stylish home, a
				modern office, a luxurious villa, or a chic hotel, our team of
				experts is ready to help.
			</div>
			<div
					class="relative leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
			>
				As a leading provider of interior design in Dubai, we specialize
				in creating spaces that reflect your unique style and meet your
				functional needs. From comprehensive renovation projects to
				precise fit-out services, we manage every detail to ensure a
				seamless experience. Our commitment to quality and innovation
				guarantees that your project will stand out, enhancing both
				aesthetics and functionality. Get in touch with us today to start
				your journey toward transforming your space into something
				extraordinary.
			</div>
			<div
					class="hidden flex-row items-center justify-start relative gap-4 text-right text-general-white"
			>
				<img
						class="h-[70px] w-[70px] relative z-[0]"
						alt=""
						src="images/navigation.webp"
				/>

				<div
						class="absolute !m-[0] top-[24px] left-[0px] tracking-[0.25em] leading-[22px] uppercase opacity-[0] whitespace-nowrap z-[1]"
				>
					Learn more
				</div>
			</div>
		</div>
	</div>
</section>
