<footer
		class="self-stretch bg-general-1-secondary flex flex-col items-start justify-start pt-20 px-0 pb-0 box-border relative gap-[58px] max-w-full text-left text-5xl text-general-white font-button-space-grotesk mq925:gap-[29px] mq925:pt-[52px] mq925:box-border"
>


	<div
			class="self-stretch flex flex-row items-start justify-center py-0 px-5 box-border max-w-full"
	>
		<div
				class="w-[1170px] flex flex-row items-start justify-center gap-[60px] max-w-full mq1400:gap-[30px] mq1400:flex-wrap"
		>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[30px] min-w-[474px] max-w-full mq925:min-w-full"
			>
				<h3
						class="m-0 relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
				>
					Our Services
				</h3>
				<div
						class="self-stretch flex flex-row items-start justify-start gap-[30px] text-base text-gray-400 mq925:flex-wrap"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-3.5 min-w-[167px]"
					>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									loading="lazy"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Residential Interior Design
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									loading="lazy"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Commercial Interior Design
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									loading="lazy"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Villa Design
							</div>
						</div>
					</div>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-3.5 min-w-[167px]"
					>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									loading="lazy"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Hotel Interior Design
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									loading="lazy"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Renovation Works
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-start justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									loading="lazy"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Furniture and Accessories Selection & Delivery
							</div>
						</div>
					</div>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-3.5 min-w-[167px]"
					>
						<div
								class="self-stretch flex flex-row items-start justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Comprehensive Project Support
							</div>
						</div>
						<div
								class="self-stretch h-11 flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div
									class="self-stretch relative leading-[22px] font-medium"
							>
								Construction Supervision
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
					class="overflow-hidden flex flex-col items-start justify-start gap-[30px] min-w-[380px] max-w-full mq450:min-w-full mq1400:flex-1"
			>
				<h3
						class="m-0 relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] inline-block min-w-[129px] mq450:text-lgi mq450:leading-[24px]"
				>
					Quick Links
				</h3>
				<div
						class="self-stretch flex flex-row items-start justify-start gap-[30px] text-base text-gray-400 mq450:flex-wrap"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-3.5 min-w-[114px]"
					>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Home
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Services
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Our Projects
							</div>
						</div>
					</div>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-3.5 min-w-[114px]"
					>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Blog
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								About us
							</div>
						</div>
						<div
								class="self-stretch flex flex-row items-center justify-start gap-2.5 text-general-1-primary"
						>
							<img
									class="h-6 w-6 relative"
									alt=""
									src="images/iconssmall-iconsarrowchevronright.webp"
							/>

							<div class="flex-1 relative leading-[22px] font-medium">
								Contact us
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
			class="self-stretch flex flex-row items-start justify-center py-0 px-5 box-border max-w-full"
	>
		<img
				class="w-[1170px] relative max-h-full max-w-full"
				loading="lazy"
				alt=""
				src="images/rectangle-691.webp"
		/>
	</div>
	<div
			class="self-stretch flex flex-row items-start justify-center py-0 px-5 box-border max-w-full text-sm text-gray-300 font-body-b4-merriweather-13"
	>
		<div
				class="w-[1170px] flex flex-row items-start justify-center flex-wrap content-start gap-[60px] max-w-full mq1400:gap-[30px]"
		>
			<div
					class="flex-1 flex flex-col items-start justify-start relative gap-[23px] min-w-[361px] max-w-full mq450:min-w-full"
			>
				<div class="flex flex-row items-center justify-start">
					<img
							class="h-[63px] w-[172.1px] relative"
							loading="lazy"
							alt=""
							src="images/logotype-1.webp"
					/>
				</div>
				<div class="relative leading-[24px]">
					Fractal is a Dubai-based leading interior design company
					dedicated to creating exceptional spaces (Home, Villa, Hotel fit
					out works, Offices, Commercial spaces, etc) that reflect your
					unique taste.
				</div>
				<div
						class="rounded-xl overflow-hidden flex flex-row items-center justify-center gap-3.5 text-xl text-general-white font-button-space-grotesk mq925:flex-wrap"
				>
					<div
							class="relative tracking-[-0.01em] leading-[26px] font-medium mq450:text-base mq450:leading-[21px]"
					>
						Follow Us on Social Media
					</div>
					<div
							class="rounded-11xl border-gray-200 border-[1px] border-solid overflow-hidden flex flex-col items-center justify-center py-2.5 px-[11px]"
					>
						<img
								class="w-6 h-6 relative"
								loading="lazy"
								alt=""
								src="images/iconssmall-iconssocialfacebook-filled.webp"
						/>
					</div>
					<div
							class="rounded-11xl border-gray-200 border-[1px] border-solid overflow-hidden flex flex-col items-center justify-center py-2.5 px-[11px]"
					>
						<img
								class="w-6 h-6 relative object-cover"
								alt=""
								src="images/iconssmall-iconssocialyoutube1@2x.webp"
						/>
					</div>
					<div
							class="rounded-11xl border-gray-200 border-[1px] border-solid overflow-hidden flex flex-col items-center justify-center py-2.5 px-[11px]"
					>
						<img
								class="w-6 h-6 relative object-cover"
								alt=""
								src="images/iconssmall-iconssocialinstagram@2x.webp"
						/>
					</div>
					<div
							class="rounded-11xl border-gray-200 border-[1px] border-solid overflow-hidden flex flex-col items-center justify-center py-2.5 px-[11px]"
					>
						<img
								class="w-6 h-6 relative"
								alt=""
								src="images/iconssmall-iconssocialtwitter.webp"
						/>
					</div>
					<div
							class="h-12 rounded-11xl border-gray-200 border-[1px] border-solid box-border overflow-hidden flex flex-col items-center justify-center py-2.5 px-[11px]"
					>
						<img
								class="w-6 h-6 relative object-cover"
								alt=""
								src="images/iconssmall-iconssociallinkedin@2x.webp"
						/>
					</div>
				</div>
				<div
						class="!m-[0] absolute h-[22.01%] w-[62.76%] top-[86.77%] right-[37.14%] bottom-[-8.78%] left-[0.11%] overflow-hidden hidden flex-row items-center justify-center gap-5 z-[3] mq450:flex-wrap"
				>
					<img
							class="h-[50.4px] w-[102.8px] relative overflow-hidden shrink-0"
							alt=""
							src="images/twitter.webp"
					/>

					<img
							class="h-[50.4px] w-[102.8px] relative overflow-hidden shrink-0"
							alt=""
							src="images/facebook.webp"
					/>

					<img
							class="h-[50.4px] w-[102.8px] relative overflow-hidden shrink-0"
							alt=""
							src="images/youtube.webp"
					/>
				</div>
			</div>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[28.3px] min-w-[361px] max-w-full text-5xl mq450:min-w-full"
			>
				<div
						class="self-stretch overflow-hidden flex flex-row items-start justify-start text-general-white font-button-space-grotesk"
				>
					<h3
							class="m-0 relative text-inherit tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
					>
						Subscribe to Our Newsletter
					</h3>
				</div>
				<div class="relative text-sm leading-[24px]">
					Stay ahead in a rapidly changing world. Subscribe to Fractal
					Insights, our monthly look at the critical issues facing global
					businesses.
				</div>
				<div
						class="self-stretch flex flex-row items-start justify-start gap-2.5 max-w-full mq925:flex-wrap"
				>
					<input
							class="w-full [border:none] [outline:none] bg-general-1-secondary-variant h-11 flex-1 flex flex-row items-start justify-start py-2.5 px-[15px] box-border font-body-b4-merriweather-13 text-sm text-gray-400 min-w-[276px] max-w-full"
							placeholder="Your email address"
							type="text"
					/>

					<button
							class="cursor-pointer [border:none] py-0 px-[15px] bg-general-1-primary overflow-hidden flex flex-row items-start justify-start gap-[15px]"
					>
						<div
								class="ml-[-135px] h-11 w-[120px] relative bg-general-1-primary-variant shrink-0"
						></div>
						<div
								class="w-[90px] flex flex-col items-start justify-start pt-[11px] px-0 pb-0 box-border"
						>
							<div
									class="self-stretch relative text-base leading-[22px] font-medium font-button-space-grotesk text-general-white text-center shrink-0"
							>
								Subscribe
							</div>
						</div>
					</button>
				</div>
				<div
						class="flex flex-row items-start justify-start gap-2.5 max-w-full text-smi"
				>
					<input class="m-0 h-[21px] w-5" type="checkbox"/>

					<div
							class="flex flex-row items-start justify-start gap-1 max-w-[calc(100%_-_30px)] mq450:flex-wrap"
					>
						<div
								class="relative leading-[22px] inline-block min-w-[96px]"
						>
							I have read the
						</div>
						<a
								class="[text-decoration:none] relative leading-[22px] text-general-white"
						>Privacy Policy</a
						>
						<div class="relative leading-[22px]">
							and agree to its terms.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
			class="flex flex-col items-center justify-start gap-[25px] max-w-full"
	>
		<img
				class="w-[1170px] relative max-h-full max-w-full"
				loading="lazy"
				alt=""
				src="images/rectangle-691.webp"
		/>

		<copyright
				class="flex flex-row items-center justify-center pt-0 px-[375px] pb-[26px] box-border max-w-full text-left text-xs text-gray-400 font-primary-paragraph-paragraph-5 mq925:pl-[93px] mq925:pr-[93px] mq925:box-border mq1400:pl-[187px] mq1400:pr-[187px] mq1400:box-border"
		>
			<div
					class="flex flex-row items-center justify-center py-0 px-[431px] box-border gap-0.5 max-w-full mq450:pl-5 mq450:pr-5 mq450:box-border mq925:pl-[107px] mq925:pr-[107px] mq925:box-border mq1875:flex-wrap mq1400:pl-[215px] mq1400:pr-[215px] mq1400:box-border"
			>
				<div class="relative leading-[22px] inline-block min-w-[45px]">
					© 2024
				</div>
				<div class="relative leading-[22px] text-general-white">
					Fractal WordPress Theme
				</div>
				<div class="relative leading-[22px] whitespace-pre-wrap">
					| All rights reserved
				</div>
			</div>
		</copyright>
	</div>
</footer>