<section
		class="self-stretch flex flex-row items-start justify-center pt-[140px]
		pb-[140px] box-border max-w-full text-right text-base text-general-white
		 font-button-space-grotesk mq925:pb-[91px] mq925:box-border mq925:px-[25px]"
>
	<div
			class="w-[1170px] flex flex-row items-start justify-start gap-[60px] max-w-full mq1400:gap-[30px] mq1400:flex-wrap"
	>




	<div
			class="min-h-[414px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/frame-26585@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
	>
		<div
				class="hidden flex-row items-center justify-start relative gap-4"
		>
			<img
					class="h-[70px] w-[70px] relative z-[0]"
					alt=""
					src="images/navigation.webp"
			/>

			<div
					class="absolute !m-[0] top-[24px] left-[0px] tracking-[0.25em] leading-[22px] uppercase opacity-[0] whitespace-nowrap z-[1]"
			>
				Learn more
			</div>
		</div>
	</div>
	<div
			class="flex-1 flex flex-col items-start justify-start pt-[17px] px-0 pb-0 box-border min-w-[361px] max-w-full text-left text-general-1-primary mq450:min-w-full mq1400:flex-1"
	>
		<div
				class="self-stretch flex flex-col items-start justify-start gap-[30px]"
		>
			<div
					class="self-stretch relative tracking-[0.25em] leading-[22px] uppercase"
			>
				Expert
			</div>
			<h2
					class="m-0 relative text-29xl tracking-[-0.02em] leading-[54px] font-medium font-[inherit] text-general-1-secondary mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
			>
				Interior Designers in Dubai
			</h2>
			<div
					class="m-0 self-stretch relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] text-general-1-secondary-variant mq450:text-lgi mq450:leading-[24px]"
			>
				Our talented interior designers in Dubai specialize in creating
				spaces that fit your style perfectly.
			</div>
			<div
					class="relative leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
			>
				We take care of every detail, from the initial idea to the final
				touches, and promise a stunning finishing that defines
				“you”—down  to the very last detail.
			</div>
		</div>
	</div>
	</div>
</section>