<section class="self-stretch relative bg-general-1-secondary h-[640px]">
		<img
				class="absolute top-[0px] left-[0px] w-[735px] h-[640px] object-cover"
				alt=""
				src="images/google-maps@2x.webp"
		/>

		<img
				class="absolute bottom-[0px] left-[575px] w-80 h-[540px] object-cover"
				alt=""
				src="images/shutterstock-94330351-1-1@2x.webp"
		/>

		<div
				class="absolute top-[284px] left-[1275px] tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
		>
			Address —
		</div>
		<div
				class="absolute top-[284px] left-[975px] tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
		>
			Phone & Fax —
		</div>
		<div
				class="absolute top-[474px] left-[975px] tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
		>
			Email —
		</div>
		<div
				class="absolute top-[320px] left-[1275px] text-5xl tracking-[-0.01em] leading-[30px] font-medium inline-block w-[270px]"
		>
			Office 1004, Conrad Business Tower, Trade Centre First, 485054 Dubai,
			UAE
		</div>
		<div
				class="absolute top-[470px] left-[1275px] flex flex-row items-center justify-start gap-4 text-right"
		>
			<img
					class="w-[70px] relative h-[70px] z-[0]"
					alt=""
					src="images/navigation2.webp"
			/>

			<div
					class="w-[173px] absolute !m-[0] top-[24px] left-[-40px] tracking-[0.25em] leading-[22px] uppercase inline-block opacity-[0] z-[1]"
			>
				Get directions
			</div>
		</div>
		<div
				class="absolute top-[321px] left-[975px] text-5xl tracking-[-0.01em] leading-[30px] font-medium"
		>
			+971 (56) 474 4155
		</div>
		<a
				class="[text-decoration:none] absolute top-[511px] left-[975px] text-5xl tracking-[-0.01em] leading-[30px] font-medium text-general-1-primary [text-decoration:none]"
				href="mailto:info@fractaldubai.com"
				target="_blank"
		>info@fractaldubai.com</a
		>
		<div
				class="absolute top-[366px] left-[975px] text-5xl tracking-[-0.01em] leading-[30px] font-medium"
		>
			+971 (56) 474 4156
		</div>
		<div
				class="absolute top-[158px] left-[1275px] border-general-9-secondary-variant border-[1px] border-solid box-border w-[270px] h-11 flex flex-row items-center justify-start py-[11px] pl-[15px] pr-2.5 gap-2.5"
		>
			<div class="flex-1 relative leading-[24px] font-medium">
				Dubai Office
			</div>
			<img
					class="w-6 relative h-6"
					alt=""
					src="images/iconssmall-iconsarrowchevrondown.webp"
			/>
		</div>
		<div
				class="absolute top-[24.06%] left-[calc(50%_+_15px)] leading-[26px] font-body-b6-merriweather-11 inline-block w-[270px]"
		>
			Visit one of our many Fractal WP Offices in United States.
		</div>
		<div
				class="absolute top-[100px] left-[975px] tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
		>
			Contact Us
		</div>
	</section>