<div onclick="openModal()"
		class="flex flex-row items-center justify-start relative gap-4 text-right text-base"
>


	<div class="arrow-container">
		<span class="text tracking-[0.25em] leading-[22px]  uppercase z-[1]">FULL CASE STUDY</span>
		<div class="circle">
			<img
					class="stm-mb w-[70px] relative h-[70px]"
					alt=""
					src="images/navigation2.webp"
			/>
			<img
					class="stm-mb1 w-[70px] relative h-[70px]"
					alt=""
					src="images/moved-arrow.webp"
			/>
		</div>

	</div>
</div>



