---
title: award
permalink: award.html
---

<!DOCTYPE html>
<html>
{% include "head.html" %} <!-- Include the head component -->

<body>
<div
		class="w-full relative bg-general-white overflow-hidden
      flex flex-col items-start justify-start leading-[normal] tracking-[normal]"
>
	{% include "header.html" %}
	{% include "banners/award-banner.html" %}
	{% include "award-second-section.html" %}
	{% include "award-design-services.html" %}


	<section
			class="self-stretch bg-general-white flex flex-col items-center justify-start py-[140px] px-5 box-border gap-[100px] max-w-full text-left text-29xl text-general-1-secondary-variant font-button-space-grotesk mq450:gap-[25px] mq925:gap-[50px] mq925:pt-[38px] mq925:pb-[38px] mq925:box-border mq1400:pt-[59px] mq1400:pb-[59px] mq1400:box-border"
	>
		<div
				class="max-w-[1170px] flex flex-row items-center
				 justify-start gap-[60px] w-full mq1400:gap-[30px] mq1400:flex-wrap"
		>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[30px] min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
			>
				<h2
						class="m-0 relative text-inherit tracking-[-0.02em] leading-[54px] font-medium font-[inherit] mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
				>
					Revamp Your Home with Turnkey Solutions
				</h2>
				<div
						class="m-0 relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
				>
					Our leading interior design company offers a full turnkey solution
					for residential interior design, handling every aspect from
					creative space planning, zen interiors, and project management to
					installation.
				</div>
				<div
						class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
				>
					<p class="m-0">
						As a leading company in modern interior design, we ensure that
						every room is meticulously crafted to your specifications.
					</p>
					<p class="m-0">&nbsp;</p>
					<p class="m-0">
						Fractal all-in-one interior services mean you don’t need to
						coordinate with multiple contractors—we manage it all for you.
						This seamless approach ensures that your home renovation is not
						only stylish but also efficient and hassle-free.
					</p>
				</div>
			</div>
			<div
					class="h-[555px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/bright-and-modern-living-room-with-vibrant-accents@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full text-right text-base text-general-white mq450:min-w-full mq1400:flex-1"
			>
				<div class="hidden flex-row items-center justify-start gap-3">
					<div class="relative tracking-[0.25em] leading-[22px] uppercase">
						Learn more
					</div>
					<img
							class="h-[70px] w-[70px] relative"
							alt=""
							src="images/navigation-11.webp"
					/>
				</div>
			</div>
		</div>
		<div
				class="max-w-[1170px] flex flex-row items-center justify-start gap-[60px] w-full text-right text-base text-general-white mq1400:gap-[30px] mq1400:flex-wrap"
		>
			<div
					class="h-[548px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/photo-26-20240815-120824@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
			>
				<div class="hidden flex-row items-center justify-start gap-3">
					<div class="relative tracking-[0.25em] leading-[22px] uppercase">
						Learn more
					</div>
					<img
							class="h-[70px] w-[70px] relative"
							alt=""
							src="images/navigation-11.webp"
					/>
				</div>
			</div>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[30px] min-w-[361px] max-w-full text-left text-29xl text-general-1-secondary-variant mq450:min-w-full mq1400:flex-1"
			>
				<h2
						class="m-0 relative text-inherit tracking-[-0.02em] leading-[54px] font-medium font-[inherit] mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
				>
					Transform Everyday Living with a Personalized Approach
				</h2>
				<div
						class="m-0 relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
				>
					At Fractal, we take a personalized approach to interior design,
					focusing on how each detail enhances your daily life.
				</div>
				<div
						class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
				>
					<p class="m-0">
						From the entrance of your house in Dubai to the design of each
						room, our team tailors every element to suit your needs.
					</p>
					<p class="m-0">&nbsp;</p>
					<p class="m-0">
						Our top interior design company work closely with you to
						understand your preferences, ensuring that your home reflects
						your lifestyle. This customized approach transforms your
						interior into a space that is both functional and uniquely
						yours.
					</p>
				</div>
			</div>
		</div>
		<div
				class="w-[1170px] flex flex-row items-center justify-start gap-[60px] max-w-full mq1400:gap-[30px] mq1400:flex-wrap"
		>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[30px] min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
			>
				<h2
						class="m-0 relative text-inherit tracking-[-0.02em] leading-[54px] font-medium font-[inherit] mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
				>
					Craft Your Dream Space with Local Expertise Advantage
				</h2>
				<div
						class="m-0 relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
				>
					Fractal’s local expertise provides a significant advantage in
					designing luxurious residential and commercial spaces, including
					Arabic Majlis and modern villas.
				</div>
				<div
						class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
				>
					We leverage our knowledge of Dubai’s top sources for materials
					and skilled professionals for creating stunning spaces and
					affordable designs. By using the best local resources, our skilled
					interior designers ensure that your villa or Majlis not only looks
					stunning but is also budget-friendly. Our insights into the local
					market help us craft beautiful, cost-effective designs tailored to
					your vision.
				</div>
			</div>
			<div
					class="h-[555px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/photo-24-20240815-120824@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full text-right text-base text-general-white mq450:min-w-full mq1400:flex-1"
			>
				<div class="hidden flex-row items-center justify-start gap-3">
					<div class="relative tracking-[0.25em] leading-[22px] uppercase">
						Learn more
					</div>
					<img
							class="h-[70px] w-[70px] relative"
							alt=""
							src="images/navigation-11.webp"
					/>
				</div>
			</div>
		</div>
		<div
				class="w-[1170px] flex flex-row items-center justify-start gap-[60px] max-w-full text-right text-base text-general-white mq1400:gap-[30px] mq1400:flex-wrap"
		>
			<div
					class="h-[586px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/modern-artistic-living-room-with-bright-accents@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
			>
				<div class="hidden flex-row items-center justify-start gap-3">
					<div class="relative tracking-[0.25em] leading-[22px] uppercase">
						Learn more
					</div>
					<img
							class="h-[70px] w-[70px] relative"
							alt=""
							src="images/navigation-11.webp"
					/>
				</div>
			</div>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[30px] min-w-[361px] max-w-full text-left text-29xl text-general-1-secondary-variant mq450:min-w-full mq1400:flex-1"
			>
				<h2
						class="m-0 relative text-inherit tracking-[-0.02em] leading-[54px] font-medium font-[inherit] mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
				>
					Kickstart Your Interior Design Project with us
				</h2>
				<div
						class="m-0 relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] mq450:text-lgi mq450:leading-[24px]"
				>
					Ready to turn your space into something really extraordinary? Team
					up with Fractal for your interior design needs and see how experts
					can truly make a difference. Our interior design company in Dubai
					combines precision with creativity to bring your vision to life
					in different kinds of inspiring ways.
				</div>
				<div
						class="relative text-base leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
				>
					<p class="m-0">
						We know you’ve probably heard lots of promises from other
						interior design companies too. Don’t just take our word for
						it—check out some of the amazing projects our interior designers
						completed for our clients above—from apartments and villas to
						bedrooms, and other rooms. Your project could be next!
					</p>
					<p class="m-0">&nbsp;</p>
					<p class="m-0">
						Get in touch with us today to start creating a space you’ll love
						coming home to.
					</p>
				</div>
			</div>
		</div>
	</section>
	{% include "our-works.html" %}
	<section
			class="self-stretch flex flex-row items-start justify-center
			pt-0 px-5 pb-[140px] box-border max-w-full text-left text-base
			text-general-1-primary font-button-space-grotesk mq925:pb-[91px] mq925:box-border mq925:pt-[50px]"
	>
		<div
				class="max-w-[1170px] flex flex-row items-start justify-start
				gap-[60px] w-full mq1400:gap-[30px] mq1400:flex-wrap"
		>
			<div
					class="flex-1 flex flex-col items-start justify-start gap-[30px]
					 min-w-[361px] max-w-full mq450:min-w-full mq1400:flex-1"
			>
				<div
						class="self-stretch relative tracking-[0.25em] leading-[22px] uppercase"
				>
					Start
				</div>
				<h2
						class="m-0 self-stretch relative text-29xl tracking-[-0.02em] leading-[54px] font-medium font-[inherit] text-general-1-secondary mq450:text-10xl mq450:leading-[32px] mq925:text-19xl mq925:leading-[43px]"
				>
					Your journey with us
				</h2>
				<div
						class="m-0 relative text-5xl tracking-[-0.01em] leading-[30px] font-medium font-[inherit] text-general-1-secondary-variant mq450:text-lgi mq450:leading-[24px]"
				>
					Ready to bring your vision to life? Partner with Fractal, Dubai’s
					best interior design company, and let's create spaces that truly
					reflect your style.
				</div>
				<div
						class="relative leading-[26px] font-body-b4-merriweather-13 text-elements-neutral"
				>
					<p class="m-0">
						We get it—you’ve probably seen it all: muse interior design that
						doesn’t quite match, spaces that lack a personal touch, or
						trends that are way past their prime. No one wants a repeat of
						those mistakes.
					</p>
					<p class="m-0">&nbsp;</p>
					<p class="m-0">
						Even if this is your first time working with an interior design
						company in Dubai and UAE, you deserve a smooth and enjoyable
						experience. That’s where we come in.
					</p>
					<p class="m-0">&nbsp;</p>
					<p class="m-0">
						Our promise? We’ll help you design a beautiful, functional,
						and personalized space you’ll love for years. Let’s work
						together to create the home or office of your dreams.
					</p>
				</div>
			</div>
			<div
					class="h-[572px] flex-[0.8559] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/serenity-in-symmetry--modern-minimalist-interior-with-natural-accents@3x.png')] bg-cover bg-no-repeat bg-[top] min-w-[361px] max-w-full text-right text-general-white mq450:min-w-full mq1400:flex-1"
			>
				<div
						class="hidden flex-row items-center justify-start relative gap-4"
				>
					<img
							class="h-[70px] w-[70px] relative z-[0]"
							alt=""
							src="images/navigation.webp"
					/>

					<div
							class="absolute !m-[0] top-[24px] left-[0px] tracking-[0.25em] leading-[22px] uppercase opacity-[0] whitespace-nowrap z-[1]"
					>
						Learn more
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "gallery2.html" %}

	{% include "footer2.html" %}
</div>
</body>
</html>