---
title: Contact us
permalink: contact-us.html
---

<!DOCTYPE html>
<html>
{% include "head.html" %} <!-- Include the head component -->

<body>
<div
		class="w-full relative bg-general-white overflow-hidden
      flex flex-col items-start justify-start leading-[normal] tracking-[normal]"
>
	{% include "header.html" %}
	{% include "banners/contact-us-banner.html" %}
	{% include "contact-us-second-section.html" %}

	{% include "map.html" %}
	{% include "contact2.html" %}
	{% include "footer2.html" %}
</div>
</body>
</html>
