---
title: front
permalink: front.html
---

<!DOCTYPE html>
<html>
{% include "head.html" %} <!-- Include the head component -->

<body>
<div
		class="w-full relative bg-general-white overflow-hidden
      flex flex-col items-start justify-start leading-[normal] tracking-[normal]"
>


	{% include "header.html" %}

	<div class="w-full">
		{% include "banners/home-banner.html" %}
		{% include "home-aboutus.html" %}
		<section
				class="self-stretch bg-elements-neutral-4 flex flex-col items-center justify-center py-[140px] gap-[80px]
			text-general-1-secondary mq925:px-[25px]">
			<div class="w-full max-w-[1170px] flex flex-col gap-[100px]">
				<div
						class="max-w-[991px] w-full flex flex-col items-center justify-start text-center text-general-1-primary mb-[-45px]"
				>
					<div
							class="self-stretch relative tracking-[0.25em] leading-[22px] uppercase"
					>
						Our Services
					</div>
					<h2
							class="self-stretch relative text-59xl tracking-[-0.04em] leading-[20px] text-general-1-secondary font-medium my-[64px] mq925:leading-[70px] mq925:my-[30px]"
					>
						Our Design Services in Dubai
					</h2>
				</div>
				<div
						class="self-stretch flex flex-row items-center justify-start gap-[60px] text-29xl mq925:flex-col"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-[30px]"
					>
						<h3
								class="self-stretch relative tracking-[-0.02em] leading-[54px] font-medium"
						>
							Comprehensive Interior Design
						</h3>
						<div
								class="self-stretch relative text-5xl tracking-[-0.01em] leading-[30px] font-medium text-general-1-secondary-variant"
						>
							Fractal offers a full suite of interior design services to
							transform your Dubai space into a place you want to be at every
							time of the day. Whether you're creating a new interior space,
							sprucing up an existing one, or thinking about a simple fit out,
							we have the expertise and experience to help you nail down your
							needs.
						</div>
						<div
								class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
						>
							<p class="m-0">
								Our company works with projects of all sizes and styles—be it
								a luxurious villa, a trendy hotel, a commercial space, or a chic
								residential apartment. We carry you along throughout the entire
								process, ensuring every detail aligns with your taste and
								lifestyle.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								Did we mention how outstanding our attention to detail is? Yes,
								from the paintwork to the flooring and cabinetry, everything is
								handled with a surprising degree of precision and care.
							</p>
						</div>
					</div>
					<div
							class="flex-[0.8559] mq925:w-full mq925:min-h-[664px] h-[664px] flex flex-col items-end justify-end p-10 box-border gap-2.5 bg-[url('/public/home_tables.png')] bg-cover bg-no-repeat bg-[top] text-right text-base text-general-white"
					>
						{% include "buttons/moving-left-button-learnmore.html" %}
					</div>
				</div>
				<div
						class="self-stretch flex flex-row items-center justify-start gap-[60px] text-right text-general-white mq925:flex-col"
				>
					<div
							class="flex-[0.8559] mq925:w-full mq925:min-h-[664px]  h-[664px] flex flex-col items-end justify-end p-10 box-border gap-2.5 bg-[url('/public/frame-26587@3x.png')] bg-cover bg-no-repeat bg-[top]"
					>

						{% include "buttons/moving-left-button-learnmore.html" %}
					</div>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-[30px] text-left text-29xl text-general-1-secondary"
					>
						<h3
								class="self-stretch relative tracking-[-0.02em] leading-[54px] font-medium"
						>
							Expert Renovation Services
						</h3>
						<div
								class="self-stretch relative text-5xl tracking-[-0.01em] leading-[30px] font-medium text-general-1-secondary-variant"
						>
							Ready to give your space a fresh start? Fractal has you covered.
							Whether you're thinking of a little apartment renovation or a full
							villa transformation, we’re the best at turning your home interior
							into modern, functional living spaces (with minimal disruption to
							your daily life).
						</div>
						<div
								class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
						>
							<p class="m-0">
								Our company handles it all—from the initial sketches and
								planning right through to the final build and those
								all-important finishing touches.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								And it’s not just your house—we also bring our design services
								to hospitality and office renovations. We understand your space
								needs to look amazing and work perfectly for your lifestyle or
								business. This is what guides our entire working relationship
								with you.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								Our mission? To create a space that not only meets but exceeds
								your expectations, leaving you with a place you’ll love for
								years to come.
							</p>
						</div>
					</div>
				</div>
				<div
						class="self-stretch flex flex-row items-center justify-start gap-[60px] text-29xl mq925:flex-col"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-[30px]"
					>
						<h3
								class="self-stretch relative tracking-[-0.02em] leading-[54px] font-medium"
						>
							Exquisite Furniture Services
						</h3>
						<div
								class="self-stretch relative text-5xl tracking-[-0.01em] leading-[30px] font-medium text-general-1-secondary-variant"
						>
							Fractal redefines luxury living and workspaces with our
							custom-made interiors furniture and precision fit-out services in
							Dubai. But before we dive into our fit-out solutions, let’s talk
							about furniture.
						</div>
						<div
								class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
						>
							<p class="m-0">
								We know it’s an investment. And like every investment, you need
								to see good returns. That’s why we treat every piece with the
								care it deserves.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								As we’ve emphasized so far, a common thread in all our services
								is the belief that every design should be both functional and
								beautiful. This isn’t just a tagline; it’s a promise. We work
								hard to strike that perfect balance in every furniture we
								create.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								At Fractal, there’s no such thing as a one-size-fits-all
								approach. All our services are bespoke, collaborative, and
								tailored to your needs. This way, we make sure your vision comes
								to life just the way you imagined.
							</p>
						</div>
					</div>
					<div
							class="flex-[0.8559] mq925:w-full mq925:min-h-[664px]  h-[664px] flex flex-col items-end justify-end p-10 box-border gap-2.5 bg-[url('/public/frame-26588@3x.png')] bg-cover bg-no-repeat bg-[top] text-right text-base text-general-white"
					>
						{% include "buttons/moving-left-button-learnmore.html" %}
					</div>
				</div>
				<div
						class="self-stretch flex flex-row items-center justify-start gap-[60px] text-right text-general-white mq925:flex-col"
				>
					<div
							class="self-stretch flex-[0.8559] mq925:w-full mq925:min-h-[664px]  flex flex-col items-end justify-end p-10 gap-2.5 bg-[url('/public/frame-26589@3x.png')] bg-cover bg-no-repeat bg-[top]"
					>
						{% include "buttons/moving-left-button-learnmore.html" %}
					</div>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-[30px] text-left text-29xl text-general-1-secondary"
					>
						<h3
								class="self-stretch relative tracking-[-0.02em] leading-[54px] font-medium"
						>
							Construction Supervision
						</h3>
						<div
								class="self-stretch relative text-5xl tracking-[-0.01em] leading-[30px] font-medium text-general-1-secondary-variant"
						>
							At Fractal, we make sure your construction project goes off
							without a hitch. Our experienced construction supervision team
							handles every step, from breaking ground to handing over the keys.
							We keep a close eye on quality, stick to timelines, and manage
							your budgets smartly.
						</div>
						<div
								class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
						>
							<p class="m-0">
								Our works include on-site inspections, tracking progress,
								ensuring top-notch quality, and risk management. We work closely
								with contractors, subcontractors, and clients to keep everything
								running smoothly.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								Again, our goal is to deliver projects that are safe, efficient,
								and of the highest quality. When you choose Fractal for
								construction supervision, you can relax knowing your project is
								in good hands.
							</p>
							<p class="m-0">&nbsp;</p>
							<p class="m-0">
								Last but not least—we also want to help you save money. So, you
								can rest assured you’ll be paying for only the things you
								absolutely need.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "our-works.html" %}
		{% include "brands.html" %}
		{% include "typesinterdes.html" %}

		<section
				class="self-stretch bg-elements-neutral-4 flex flex-col items-center justify-start py-[140px]
			 gap-[100px] text-11xl text-general-1-secondary-variant mq925:px-[25px]"
		>
			<div class="w-full max-w-[1170px] flex flex-col  gap-[100px] ">

				<div
						class="self-stretch flex flex-row items-center justify-start gap-[60px] mq925:flex-col"
				>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-[30px]"
					>
						<h2
								class="self-stretch relative text-base tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
						>
							Why Choose Fractal Among All Interior Design Companies in Dubai
						</h2>
						<div
								class="self-stretch flex flex-col items-start justify-start gap-2.5"
						>
							<h3
									class="self-stretch relative tracking-[-0.01em] leading-[36px] font-medium"
							>
								Comprehensive Services
							</h3>
							<div
									class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
							>
								When you choose Fractal, you’re opting for a smooth, all-in-one
								design and build experience. As leaders of interior designers in
								Dubai, UAE, we take care of everything—from the initial concept
								to the final touches. This means you can relax and watch your
								dream space come to life.
							</div>
						</div>
						<div
								class="self-stretch flex flex-col items-start justify-start gap-2.5"
						>
							<h3
									class="self-stretch relative tracking-[-0.01em] leading-[36px] font-medium"
							>
								Client Satisfaction is Our Top Priority
							</h3>
							<div
									class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
							>
								We love building great relationships with our clients, not
								burning bridges. Your happiness is what matters most to us. We
								take the time to understand your needs and preferences to craft
								spaces that truly reflect your vision—whether it’s a fit out
								construction project or general interior design.
							</div>
						</div>
						<div
								class="self-stretch flex flex-col items-start justify-start gap-2.5"
						>
							<h3
									class="self-stretch relative tracking-[-0.01em] leading-[36px] font-medium"
							>
								Personalized, High-Touch Service
							</h3>
							<div
									class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
							>
								Get ready for truly personalized interior design services with
								Fractal, Dubai. We offer a hands-on approach, paying close
								attention to every detail of your project. We have an initial
								sit down with you to fully understand your project and meet you
								right where you are. And the final result will blow your mind.
							</div>
						</div>
					</div>
					<div
							class="flex-[0.8559] mq925:w-full mq925:min-h-[664px]  h-[692px] mq600:min-h-[320px] flex flex-col items-end justify-end p-10 box-border bg-[url('/public/contemporary-woodtextured-elegance-bathroom@3x.png')] bg-cover bg-no-repeat bg-[top] text-right text-base text-general-white"
					>
						<div class="hidden flex-row items-center justify-start gap-4">
							<div class="relative tracking-[0.25em] leading-[22px] uppercase">
								Learn more
							</div>
							<img
									class="w-[70px] relative h-[70px]"
									alt=""
									src="images/navigation1.webp"
							/>
						</div>
					</div>
				</div>
				<div
						class="self-stretch flex flex-row items-center justify-start gap-[60px] text-right text-base text-general-white mq925:flex-col"
				>
					<div
							class="self-stretch flex-[0.8559] mq925:w-full mq925:min-h-[664px]  mq600:min-h-[320px] mq925:p-0 flex flex-col items-end justify-end p-10 bg-[url('/public/serene-modern-wardrobe-with-harmonious-accents@3x.png')] bg-cover bg-no-repeat bg-[top]"
					>
						<div class="hidden flex-row items-center justify-start gap-4">
							<div class="relative tracking-[0.25em] leading-[22px] uppercase">
								Learn more
							</div>
							<img
									class="w-[70px] relative h-[70px]"
									alt=""
									src="images/navigation1.webp"
							/>
						</div>
					</div>
					<div
							class="flex-1 flex flex-col items-start justify-start gap-[30px] text-left text-11xl text-general-1-secondary-variant"
					>
						<h2
								class="relative text-base tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
						>
							Our Design Process
						</h2>
						<div
								class="self-stretch flex flex-col items-start justify-start gap-2.5"
						>
							<h3
									class="self-stretch relative tracking-[-0.01em] leading-[36px] font-medium"
							>
								Initial Consultation
							</h3>
							<div
									class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
							>
								Our interior design company in Dubai kicks off your journey
								with a thorough consultation. We’ll listen to you as you share
								your ideas, preferences, and lifestyle to craft a space that
								truly mirrors your unique style. We’ll chat about the project
								scope, budget, and timeline to set the stage.
							</div>
						</div>
						<div
								class="self-stretch flex flex-col items-start justify-start gap-2.5"
						>
							<h3
									class="self-stretch relative tracking-[-0.01em] leading-[36px] font-medium"
							>
								Design Concept Development
							</h3>
							<div
									class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
							>
								Then, we’ll whip up a detailed design concept or fit out works
								visualization just for you, using insights from our initial
								chat. This includes mood boards, detailed drawings, floor plans,
								and other tools to help you picture the final look. We’ll work
								closely with you to make sure everything aligns with your vision
								and expectations before proceeding.
							</div>
						</div>
						<div
								class="self-stretch flex flex-col items-start justify-start gap-2.5"
						>
							<h3
									class="self-stretch relative tracking-[-0.01em] leading-[36px] font-medium"
							>
								Project Execution and Completion
							</h3>
							<div
									class="self-stretch relative text-base leading-[26px] font-body-b6-merriweather-11 text-elements-neutral"
							>
								Once you give the thumbs-up on the design, we jump into action.
								Our skilled team of designers and renovation experts takes care
								of everything from sourcing materials and construction to
								installation and finishing touches. We’ll keep you in the loop
								every step of the way, answering any questions and making sure
								the process runs smoothly.
							</div>
						</div>
					</div>
				</div>
				<img
						class="w-[1170px] relative h-[59px] object-cover hidden"
						alt=""
						src="images/logos-of-clients@2x.webp"
				/>

				<div
						class="h-[140px] hidden flex-row items-center justify-start pt-[51px] px-[46px] pb-[50px] box-border gap-[100px]"
				>
					<img
							class="w-[135px] relative h-7 object-cover"
							alt=""
							src="images/sophie-paris-logo-1@2x.webp"
					/>

					<img
							class="w-[58px] relative h-[39px] object-cover"
							alt=""
							src="images/259-1@2x.webp"
					/>

					<img
							class="w-[254px] relative h-9 object-cover"
							alt=""
							src="images/new-york-times-logo-png1-1@2x.webp"
					/>

					<img
							class="w-[84px] relative h-7 object-cover"
							alt=""
							src="images/fila-logo11024x512-1@2x.webp"
					/>

					<img
							class="w-[146px] relative h-[37px] object-cover"
							alt=""
							src="images/image-5@2x.webp"
					/>
				</div>
			</div>
		</section>
		<section class="self-stretch relative bg-general-white min-h-[1000px] text-sm flex flex-col items-center mq925:px-[25px]">
			<div class="w-full max-w-[1170px] flex flex-col justify-center ">
				<div class="flex flex-row mt-[148px] mb-[68px] justify-between mq925:flex-col">

					<h2
							class=" min-w-[370px] text-base tracking-[0.25em] leading-[22px] uppercase text-general-1-primary"
					>
						From the Blog
					</h2>
					<div class="flex flex-row">
						<div class="flex flex-col gap-[11px]">
							<div
									class=" text-29xl tracking-[-0.02em] leading-[54px] font-medium text-general-1-secondary inline-block w-[350px]"
							>
								Latest Insights
							</div>
							<div class="flex flex-row mq925:flex-col mq925:gap-[30px]">
								<div
										class=" text-5xl tracking-[-0.01em] leading-[30px] font-medium text-general-1-secondary-variant inline-block w-[580px] mq925:w-full"
								>
									Stay inspired with our latest interior design trends, expert advice,
									and project spotlights.
								</div>
								<a class="[text-decoration:none] font-medium bg-general-white border-general-1-primary border-[2px]
					border-solid  w-[150px] h-[50px] overflow-hidden
					 text-center text-base text-general-1-secondary justify-center flex mbtn-prm-bord hover:text-white" href="">
									<div class=" leading-[22px] font-medium flex items-center justify-center">
										All Posts
									</div>
								</a>
							</div>
						</div>

					</div>


				</div>

				<div class="flex flex-row justify-between mq925:flex-col">
					<div class="  w-[370px] overflow-hidden flex flex-col items-start justify-start gap-[30px] stm-hover-box mq925:mb-[50px] mq925:w-full"
					>
						<div class="self-stretch relative h-60 stm-img">
							<img
									class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%]
									left-[0%] max-w-full overflow-hidden max-h-full object-cover stm-m-img"
									alt=""
									src="images/sustainablehousedesignfeaturesbenefitsmore@2x.webp"
							/>
							<img
									class="absolute h-full w-full top-[0%] right-[0%]
									bottom-[0%] left-[0%] max-w-full overflow-hidden
									max-h-full object-cover stm-h-img"
									alt=""
									src="images/glasses-girl.webp"
							/>

							<div
									class="absolute top-[20px] left-[20px] bg-general-1-primary flex flex-row items-center justify-center py-[3px] px-2 text-white"
							>
								<div class="relative leading-[20px]">August 30, 2024</div>
							</div>
						</div>
						<div
								class="self-stretch h-[270px] overflow-hidden shrink-0 flex flex-col items-start justify-between text-base text-general-1-secondary-variant"
						>
							<div
									class="self-stretch flex flex-col items-start justify-start gap-5 text-5xl"
							>
								<div
										class="self-stretch relative tracking-[-0.01em] leading-[30px] font-medium stm-title"
								>
									Sustainable House Design—Features, Benefits & More
								</div>
								<div
										class="self-stretch relative text-lg leading-[30px] font-body-b6-merriweather-11 text-elements-neutral"
								>
									Dubai is the reflection of its breathtaking skyline and luxury
									architecture.
								</div>
							</div>

							{% include "buttons/moving-button-readmore.html" %}
						</div>
					</div>
					<div class=" top-[344px] left-[775px] w-[370px] h-[540px] overflow-hidden flex flex-col items-start justify-start gap-[30px] stm-hover-box mq925:mb-[50px] mq925:w-full"
					>
						<div class="self-stretch relative h-60 stm-img">
							<img
									class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]
									max-w-full overflow-hidden max-h-full object-cover stm-m-img"
									alt=""
									src="images/gardendesignindubaitransformyouroutdoorspace@2x.webp"
							/>
							<img
									class="absolute h-full w-full top-[0%] right-[0%]
									bottom-[0%] left-[0%] max-w-full overflow-hidden
									max-h-full object-cover stm-h-img"
									alt=""
									src="images/glasses-girl.webp"
							/>
							<div
									class="absolute top-[20px] left-[20px] bg-general-1-primary flex flex-row items-center justify-center py-[3px] px-2 text-white"
							>
								<div class="relative leading-[20px]">August 4, 2024</div>
							</div>
						</div>
						<div
								class="self-stretch flex-1 overflow-hidden flex flex-col items-start justify-between text-base text-general-1-secondary-variant"
						>
							<div
									class="self-stretch flex flex-col items-start justify-start gap-5 text-5xl"
							>
								<div
										class="self-stretch relative tracking-[-0.01em] leading-[30px] font-medium stm-title"
								>
									Garden Design in Dubai—Transform Your Outdoor Space
								</div>
								<div
										class="self-stretch relative text-lg leading-[30px] font-body-b6-merriweather-11 text-elements-neutral"
								>
									When we hear about Dubai, luxury and innovative infrastructure
									come to our mind.
								</div>
							</div>

							{% include "buttons/moving-button-readmore.html" %}
						</div>
					</div>
					<div	class="top-[344px] left-[1175px] w-[370px] h-[540px] overflow-hidden flex flex-col items-start justify-start gap-[30px] stm-hover-box mq925:mb-[50px] mq925:w-full"
					>
						<div class="self-stretch relative h-60 stm-img">
							<img
									class="absolute h-full w-full top-[0%] right-[0%]
									bottom-[0%] left-[0%] max-w-full overflow-hidden
									max-h-full object-cover stm-m-img"
									alt=""
									src="images/fotolia-6014662-subscription-monthly-m-1@2x.webp"
							/>
							<img
									class="absolute h-full w-full top-[0%] right-[0%]
									bottom-[0%] left-[0%] max-w-full overflow-hidden
									max-h-full object-cover stm-h-img"
									alt=""
									src="images/glasses-girl.webp"
							/>
							<div
									class="absolute top-[20px] left-[20px] bg-general-1-primary flex flex-row items-center justify-center py-[3px] px-2 text-white"
							>
								<div class="relative leading-[20px]">July 18, 2024</div>
							</div>
						</div>
						<div
								class="self-stretch flex-1 overflow-hidden flex flex-col items-start justify-between text-base text-general-1-secondary-variant mq600:overflow-unset"
						>
							<div
									class="self-stretch flex flex-col items-start justify-start gap-5 text-5xl"
							>
								<div
										class="self-stretch relative tracking-[-0.01em] leading-[30px] font-medium stm-title"
								>
									Hospitality Interior Design in Dubai
								</div>
								<div
										class="self-stretch relative text-lg leading-[30px] font-body-b6-merriweather-11 text-elements-neutral"
								>
									In the year 2024, Dubai has observed a rise in tourists
									exceeding the previous percentage of 16.73 million in 2023.
								</div>
							</div>

							{% include "buttons/moving-button-readmore.html" %}
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "gallery2.html" %}
		{% include "map.html" %}
		{% include "contact2.html" %}
	</div>
	{% include "footer2.html" %}

</div>
</body>
</html>
